@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
$fontMain:'Ubuntu', sans-serif;
$fontSizeSmall:0.8em;
$fontSizeMedium:1em;
$fontSizeBig:2em;

$fontBold:400
